.grid-2-cols {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'forms resume';
}

.form-container {
  grid-area: forms;
  background-color: var(--bg-form-color);
  padding: 1.5em 2em 0.8em 2.8em;
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.resume-container {
  grid-area: resume;
  background-color: var(--bg-cv-color);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.form-section:not(:last-child)::after {
  content: '';
  border: 1px solid #ededef;
}
