.grid-2-cols {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'forms resume';
}

.form-container {
  grid-area: forms;
  background-color: var(--bg-form-color);
  padding: 1em 2em 0.8em 2.8em;
  display: grid;
  gap: 3em;
}

.resume-container {
  grid-area: resume;
  background-color: var(--bg-cv-color);
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  /* position: relative; */
}
/* 
.form-section:not(:last-child)::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 12em;
  content: '';
  border: 1px solid #ededef;
} */
