:root {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;

  --bg-form-color: hsl(0, 0%, 100%);
  --bg-input-color: hsl(240, 5%, 96%);
  --bg-input-focus-color: hsl(262, 80%, 98%);
  --outline-input-focus-color: hsl(257, 80%, 53%);
  --bg-cv-color: hsl(0, 0%, 98%);
  --cv-primary-color: hsl(204, 52%, 41%);
  --bg-cv-nav-color: hsl(0, 0%, 95%);
  --primary-color: hsl(257, 74%, 40%);
  --primary-color-hover: hsl(257, 80%, 53%);
  --white-color: hsl(264, 56%, 98%);
  --text-color: hsl(240, 5%, 19%);
  --text-input-color: hsl(240, 5%, 19%);
  --text-label: hsl(240, 5%, 34%);
  --disabled-color: hsl(236, 9%, 67%);
  --border-color: hsl(240, 3%, 65%);

  --avatar-width: 128px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.border {
  border-radius: 3px;
  border: 1px solid var(--border-color);
  padding: 1.2rem 2rem;
}

.form-control {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
}

label {
  color: var(--text-label);
  font-size: 1.4rem;
}

input,
textarea,
select {
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 1.2rem;
  color: var(--text-input-color);
  background-color: var(--bg-input-color);
}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid var(--outline-input-focus-color);
  background-color: var(--bg-input-focus-color);
}

textarea {
  height: max(15rem, 100%);
  resize: none;
  white-space: pre-wrap;
  word-break: break-all;
}

.btn-primary {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.6em;
  font-weight: 500;
  border-radius: 3px;
  margin-left: auto;
  display: flex;
  gap: 0.2em;
  align-items: center;
  padding: 0.4rem 1.2rem 0.4rem 0.4rem;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

.submit-icon {
  width: 20px;
  height: 24px;
}

.btn-add-form {
  border: 1px solid var(--border-color);
  color: var(--text-label);
  cursor: pointer;
  border-radius: 3px;
  margin-right: auto;
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem 0.4rem 0.4rem;
  outline: none;
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.btn-add-form:hover,
.btn-add-form:focus {
  outline: 1px solid var(--outline-input-focus-color);
  background-color: var(--bg-input-focus-color);
}
